@*------------------------------------------------------------------------------------

    EDITOR TEMPLATE D'UNE PHOTO D'UN MEMBRE, PERMETTANT LA SUPPRESION ET CETTE VUE EST RECHARCHÉ
    EN AJAX CHAQUE FOIS QU'UN PHOTO EST AJOUTÉE

        --------------------------------------------------------------------------------------
        Par: Anthony Brochu et Marie-Ève Massé
        Novembre 2017
        Club Contact
        ------------------------------------------------------------------------------------*@ 

@model ProjetSiteDeRencontre.Models.Photo

@{ 
    string t = ViewBag.i.ToString();
}

@if(ViewBag.i == 0)
{
    <div class="centerW60H40px">
        @Html.LabelFor(model => model.photoProfil, new { @class = "floatLeft colorText" })
        
        <p class="floatRight colorText">Enlever la photo</p>
    </div>
}

<div class="lignePhoto" style="padding-bottom:10px">
    @Html.HiddenFor(model => model.noPhoto)
    @Html.HiddenFor(model => model.nomFichierPhoto)
    @Html.HiddenFor(model => model.noMembre)

    <div class="divRadioButton">
        @if (Model.photoProfil)
        {
            @Html.RadioButtonFor(model => model.photoProfil, t, new { @Name = "selectionPhotoProfil", @checked = "checked" })
        }
        else
        {
            @Html.RadioButtonFor(model => model.photoProfil, t, new { @Name = "selectionPhotoProfil" })
        }
    </div>
    @Html.ValidationMessageFor(model => model.photoProfil)

    <input id="imgUpload@(ViewBag.i)" type="file" name="fichiersPhotos" class="inputPhoto" onchange="PreviewImage(@(ViewBag.i))" />

    <img id="imgShow@(ViewBag.i)" class="photo150x150" src="~/Upload/PhotosMembres/@Model.nomFichierPhoto" alt="">

    <div class="w5">
        <input type="hidden" id="deletePhotos[@ViewBag.i]" name="deletePhotos[@ViewBag.i]" value="false" />
        <a class="deletePhotos">
            <img src="~/Photos/ico/deletePicture.png" alt="Supprimer la photo" class="photo30x30" />
        </a>
    </div>
</div>