@*------------------------------------------------------------------------------------

    VUE PERMETTANT L'AFFICHAGE DES ERREURS SI ON EST UN MEMBRE (PLUS BEAU ET MOINS DE DÉTAILS)

        --------------------------------------------------------------------------------------
        Par: Anthony Brochu et Marie-Ève Massé
        Novembre 2017
        Club Contact
        ------------------------------------------------------------------------------------*@   

<!DOCTYPE html>
@using Microsoft.AspNet.Identity
@using System.Security.Claims
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Club Contact</title>
    @Styles.Render("~/Content/cssGeneral")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")  <!-- validation côté client  -->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .liens{
            display:block;
            margin: 10px 30px;
        }
        .lien{
            margin: 0 10px;
        }
    </style>
</head>
<body>
    @{
        var querystring = ViewContext.RouteData.Values["urlerreur"] + "";
        this.Layout = null; // Si l'erreur se produit dans le layout il faut l'afficher...
    }
    <div class="contenuSansFooter">

        <div id="barreHaut">
            <a href='@Url.Action("Home", "Home")' id="lienLogo">
                <img src='@Url.Content("~/Photos/logo.png")' alt="Club Contact" class="logo" />
            </a>
        </div>
    </div>

    <div style="width:50%;height:600px;padding-top: 50px;margin: 0 auto; background-color:lightgrey;">
        <h1 style="text-align:center;margin-bottom:40px;">Une erreur s'est produite</h1>
        <div style="margin: 10px 30px;">
            <p>Nous sommes désolés de l'inconvénient.</p>
            <p>L'erreur a été notée et sera traitée dans les plus brefs délais.</p>
            <p>Merci d'utiliser Club Contact, le meilleur site pour faire des rencontres!</p>
        </div>   

        <br />

        <div class="liens">
            @Html.ActionLink("Retour à la page d'accueil", "Home", "Home", null, htmlAttributes: new { @class = "lien" })

        

            @Html.ActionLink("Consulter l'aide", "FAQ", "Home", null, htmlAttributes: new { @class = "lien" })

        

            @*@Html.ActionLink("Nous contacter", "Home", "Home", null, htmlAttributes: new { @class = "lien" })*@
        </div>
        
    </div>
    

    <footer>
        <p>
            @Html.ActionLink("Aide", "FAQ", "Home")
            @*@Html.ActionLink("Nous Contacter", "MyAction", "MyController")
             @Html.ActionLink("Confidentialité", "MyAction", "MyController")
             @Html.ActionLink("À propos", "MyAction", "MyController")*@
        </p>
    </footer>










    <div style="display:none;">
        <div class="alert alert-error">
            <p>
                <b>Exception:</b> @Model.Exception.Message <br />
                <b>Querystring:</b> @querystring <br />
                <b>Targetsite:</b> @Model.Exception.TargetSite <br />
                @if (HttpContext.Current.IsDebuggingEnabled)
            {
                    <b>Stacktrace:</b>
                    <pre style="font-size: 0.6em;">
                            @Model.Exception.StackTrace 
                </pre>
                    <br />
                }
            </p>
        </div>

        @{
            var lexception = Model.Exception.InnerException;
            while (lexception != null && HttpContext.Current.IsDebuggingEnabled)
            {
                <div class="alert alert-error">
                    <p>
                        <b>Innerexception, Message:</b>           @lexception.Message     <br />
                        <b>Innerexception, TargetSite:</b>        @lexception.TargetSite  <br />
                        <b>Innerexception, StackTrace:</b>
                        <pre style="font-size: 0.6em;">      @lexception.StackTrace  </pre><br />
                    </p>
                </div>

                lexception = lexception.InnerException;
            }
        }
        <br />
        <a href="~/Elmah.axd">Liste des erreurs (Elmah)</a>
        @Html.ActionLink("Retour à la page principale (home)", "Index", "Produits")
    </div>
</body>

</html>