@*------------------------------------------------------------------------------------

    VUE PERMETTANT DE DÉFINIR UN NOUVEAU MOT DE PASSE À LA SUITE D'UN OUBLI DE MOT DE PASSE ET DE
    L'ENVOIE DU COURRIEL

        --------------------------------------------------------------------------------------
        Par: Anthony Brochu et Marie-Ève Massé
        Novembre 2017
        Club Contact
        ------------------------------------------------------------------------------------*@    

@model ProjetSiteDeRencontre.Models.Membre

@Styles.Render("~/Content/Login.css")

<div>
    @using (Html.BeginForm("ResetMotDePasse", "Authentification", FormMethod.Post, new { @id = "formResetPassword" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(Model => Model.noMembre)
        @Html.HiddenFor(Model => Model.courriel)
        @Html.HiddenFor(Model => Model.dateInscription)
        @Html.HiddenFor(Model => Model.dateNaissance)

        <div class="contenu">
            <div class="centre">
                <p class="messageInscription">@Html.Raw(TempData["Message"])</p>

                @{ 
                    TempData.Remove("Message");
                }

                <h3>Se connecter</h3>

                <div id="carre">
                    <div class="champ">
                        <div class="labels">
                            <label>Votre nouveau mot de passe</label>
                        </div>
                        <div class="editeur">
                            <input type="password" id="motDePasse1" name="motDePasse1" class="editeurs" />
                        </div>
                    </div>

                    <div class="champ">
                        <div class="labels">
                            <label>Confirmer le mot de passe</label>
                        </div>
                        <div class="editeur">
                            @Html.EditorFor(model => model.motDePasse, new { htmlAttributes = new { @class = "editeurs" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.motDePasse, "", new { @class = "messageErreur" })
                    </div>

                    <br />
                    @Html.ValidationSummary(false, "", new { @class = "messageErreur" })

                </div>

                <div class="conteneurBouton">
                    <input type="submit" value="Réinitialiser" id="btn" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#formResetPassword').submit(function (e) {
                var mdpValide = validerMDP(
                    "#formResetPassword",
                    true,
                    '@Url.Action("ValiderAncienMDP", "Utilitaire")',
                    parseInt('@Model.noMembre'),
                    null,
                    $('#motDePasse1').val(),
                    $('#motDePasse').val());

                return mdpValide;
            });
        });
    </script>
}